<nav>
 <ul>
  <li class="phone tablet"><a href="/activity_log.html">Activity Log</a></li>
  <li class="desktop"><a href="/bid.html">Bid</a></li>
  <li class="phone"><a href="/budget.html">Budget</a></li>
  <li class="phone tablet"><a href="/closed_board.html">Closed Auctions</a></li>
  <li><a href="/nominate.html">Nominate</a></li>
 </ul>
</nav>
