h1 {
 clear: both;
}
.teaminfo div {
 font-size: 20px;
 display: flex;
 flex-direction: column;
 border: 1px solid #666;
 float: left;
 padding: 5px;
 font-size: 16px;
}

.auctionboard {
 clear: both;
 padding-top: 10px;
 display: inline-flex;
 flex-wrap: wrap;
 flex-direction: row;
}
.auctionboard div.auctionplayer {
 display: flex;
 flex-direction: column;
 float: left;
 padding: 5px;
 border: 1px solid #666;
}

.closedboard {
 clear:both;
 padding-top: 10px;
}
.closedboard div.closedplayer {
 display: flex;
 flex-direction: column;
 float: left;
 padding: 5px;
 border: 1px solid #666;
}

.playername {
 font-size: 21px;
 border-bottom: 1px solid #666;
}
.bid {
 font-size: 18px;
}
.time {
 font-size: 13px;
}

INPUT.bid {
 width: 60px;
}
