.wrapper {
 grid-template: 
  "teaminfo teaminfo teaminfo" 180px
  "activitylog allauction allauction" 300px
  "activitylog allauction allauction" 300px / 275px 1fr 1fr;
 display: grid;
 height: 500px;
}
activitylog {
 grid-area: activitylog;
 background-color: blue;
 overflow: auto;
}
allauction {
 grid-area: allauction;
 background-color: yellow;
}
h1 {
 clear: both;
}
teaminfo {
 grid-area: teaminfo;
 background-color: red;
}
.teaminfo div {
 font-size: 20px;
 display: flex;
 flex-direction: column;
 border: 1px solid #666;
 float: left;
 padding: 5px;
 font-size: 16px;
}

.auctionboard {
 clear: both;
 padding-top: 10px;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
 grid-gap: 5px;
}
.auctionboard div.auctionplayer {
 display: grid;
 align-self: start;
 grid-template-columns: max-content;
 padding: 5px;
 border: 1px solid #666;
}

.closedboard {
 clear:both;
 padding-top: 10px;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
 grid-gap: 5px;
}
.closedplayer {
 display: grid;
 align-self: start;
 grid-template-columns: max-content;
 padding: 5px;
 border: 1px solid #666;
}

.playername {
 font-size: 21px;
 border-bottom: 1px solid #666;
}
.bid {
 font-size: 18px;
}
.time {
 font-size: 13px;
}

INPUT.bid {
 width: 60px;
}
