body {
 background-color: #000000;
 color: #FFFFFF;
}
nav A {
 xcolor: #FF9900;
}
nav A:hover {
 xcolor: #FFB84D;
}
ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #23629F;
}

li {
 float: left;
}

li a {
 color: #FF9900;
 font-weight: bold;
 display: block;
 text-align: center;
 padding: 8px;
 xtext-decoration: none;
}

li a:hover {
 color: #FFB84D;
 background-color: #000000;
}
.wrapper {
 grid-template: 
  "teaminfo teaminfo teaminfo" 180px
  "activitylog allauction allauction" 550px
  "activitylog allauction allauction" 550px / 275px 1fr 1fr;
 display: grid;
 height: 730px;
}
activitylog {
 grid-area: activitylog;
 overflow: auto;
 height: 550px;
}
allauction {
 grid-area: allauction;
 overflow: auto;
 height: 550px;
}
h1 {
 clear: both;
}
teaminfo {
 grid-area: teaminfo;
}
li.phone {
 display: none;
}
.teaminfo {
 float: left;
 overflow: auto;
 white-space: nowrap;
}
.teaminfopage {
 float: left;
}
.teaminfo h2, .teaminfo .label, .teaminfopage h2, .teaminfopage .label {
 padding-left: 5px;
}
.teaminfo div, .teaminfopage div {
 font-size: 20px;
 display: inline-block;
 border: 1px solid #666;
 padding: 3px;
 font-size: 16px;
}

.activitylog {
 padding: 0px 10px;
}
.activitylog .label {
 padding: 0px 0px 15px 0px;
}
.activitylog .log_item {
 padding: 4px 0px;
 font-weight: bold;
}
.activitylog .log_item .time {
 padding: 0px 0px 0px 15px;
 font-weight: normal;
}
.activitylog .log_item.nominate {
 color: #B3FFB3;
}
.activitylog .log_item.close {
 color: #FFB3CC;
}
.allauction h1 {
 clear: both;
 padding-left: 10px;
}
.auctionboard {
 clear: both;
 padding: 10px;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
 grid-gap: 5px;
}
.auctionboard div.auctionplayer {
 display: grid;
 align-self: start;
 grid-template-columns: max-content;
 padding: 5px;
 border: 1px solid #666;
}

.closedboard, .closedboardpage {
 clear:both;
 padding: 10px;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
 grid-gap: 5px;
 background-color: #000000;
}
.closedplayer {
 display: grid;
 align-self: start;
 grid-template-columns: max-content;
 padding: 5px;
 border: 1px solid #666;
}
.playername {
 font-size: 21px;
 color: #FFFFFF;
 //was #FFFF00
 font-weight: bold;
 padding-bottom: 3px;
 border-bottom: 1px dotted #FFFFFF;
}
a.playername {
 font-size: 21px;
 color: #FF9900;
 font-weight: bold;
 padding-bottom: 5px;
 border-bottom: 0px solid #666;
}
a:hover.playername {
 color: #FFB84D;
}
.auctionplayer .bid, .closedplayer .bid {
 font-size: 19px;
 font-weight: bold;
 color: #FFFFFF;
 padding: 2px 0px;
}
.auctionplayer .time, .closedplayer .time {
 font-size: 13px;
 font-weight: normal;
}

INPUT.bid {
 width: 60px;
}

@media (max-width: 767px) {
 .wrapper {
  grid-template:
   "teaminfo " 90px
   "allauction" 550px / auto auto;
  display: grid;
  height: auto;
 }
 activitylog {
  display: none;
 }
 allauction {
  grid-area: allauction;
  overflow: auto;
  height: auto;
 }
 li.desktop {
  display: none;
 }
 li.tablet {
  display: list-item;
 }
 .teaminfo {
  padding-top: 5px;
 }
 .teaminfo div {
  font-size: 2.1vw;
 }
 .teaminfo .label, .teaminfo h2 {
  display: none;
 }
 .closedboard, .closedheading {
  display: none;
 }
}
@media (max-width: 479px) {
 .wrapper {
  grid-template:
   "allauction" auto / auto;
  display: grid;
  height: auto;
 }
 activitylog {
  display: none;
 }
 allauction {
  grid-area: allauction;
  overflow: auto;
  height: auto;
 }
 teaminfo {
  display: none;
 }
 .closedboard, .closedheading {
  display: none;
 }
 li.desktop {
  display: none;
 }
 li.phone {
  display: list-item;
 }
}
