<html>
 <head>
  <link href="/styles.css" rel="stylesheet" type="text/css">
 </head>
 <body>
  <h1>closing? Auction Board</h1>
  <% var posDisp %>
  <% var curPlayer %>
  <% for (var i = 0; i < playersClosed.length; i++) { %>
    <% if (playersClosed[i].secPos) { 
     posDisp = playersClosed[i].pos + '/' + playersClosed[i].secPos;
    } else {
     posDisp = playersClosed[i].pos;
    } %>
    <% curPlayer = posDisp + ' ' + playersClosed[i].firstName + ' ' + playersClosed[i].lastName; %>
    <div><%= curPlayer %> <%= playersClosed[i].team %> - <%= playersClosed[i].bid %> <%= playersClosed[i].bidTime %></div>
  <% } %>
  </div>
 </body>
</html>
