<html>
 <head>
  <% include ../partials/head.ejs %>
 </head>
 <body>
  <div class="nomination_page">
   <div class="heading">EFL 2018 Nomination page</div>
   <form class="nominate_class="nominate_form" action="/nominate.html" method="post" onsubmit="return validateForm()">
    <input name="team" type="hidden" value="<%= teamShort %>">
    <ul class="form_page_ul">
     <li>
      <label>Pos:</label>
      <select name="pos">
       <option value="C">C</option>
       <option value="1B">1B</option>
       <option value="2B">2B</option>
       <option value="3B">3B</option>
       <option value="SS">SS</option>
       <option value="OF">OF</option>
       <option value="DH">DH</option>
       <option value="P">P</option>
      </select>
     </li>
     <li>
      <label>Secondary Postion:</label>
      <select name="posSec">
       <option value="">-</option>
       <option value="C">C</option>
       <option value="1B">1B</option>
       <option value="2B">2B</option>
       <option value="3B">3B</option>
       <option value="SS">SS</option>
       <option value="OF">OF</option>
      </select>
     </li>
     <li>
      <label>First Name:</label>
      <input type="text" name="firstName">
     </li>
     <li>
      <label>Last Name:</label>
      <input type="text" name="lastName">
     </li>
     <li>
      <label>Bid:</label>
      <input type="number" name="bid">
     </li>
     <li>
      <input type="submit" name="submit" value="Nominate">
     </li>
    </ul>
   </form>
  </div>

  <script type="text/javascript">
   function validateForm() {
    var a=document.forms["nominate_form"]["firstName"].value;
    var b=document.forms["nominate_form"]["lastName"].value;
    var c=document.forms["nominate_form"]["bid"].value;
    if (a==null || a=="" || b==null || b=="") {
     alert("Name is blank, please try again");
     return false;
    }
    if (c < 1) {
     alert("Bid cannot be 0");
     return false;
    }
   }
  </script>
 </body>
</html>
